<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="/css/homepage.css" />
    <title>Homepage</title>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a style="font-family: 'Times New Roman'" class="navbar-brand" href="#">TD-LIST</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div >
                <ul class="nav navbar-nav">
                    <li>
                        <a role="button">{{ email }}</a>
                    </li>
                    <li>
                        <a href="/logout">logout</a>
                    </li>
                    <li>
                        <input type="hidden" value="{{uid}}" id="userId" style="display: none;"/>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <div class="container" style="padding-top: 80px;" >
       <div class="row">
           <div id="left-div" class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                <div class="row">
                    <div  class="col-xs-12">
                       <div id="board" class="row">
                           <div class="col-xs-12">
                                <button id="board-list-button" class="btn btn-primary" type="button" data-toggle="collapse" data-target="#board-list-div" aria-expanded="false" aria-controls="collapseExample">
                                      Todo List
                               </button>
                           </div>

                       </div>
                       <div   class="row">
                           <div class=" col-xs-12">
                                 <div style="padding: 5px;" id="board-list-div"  class=" well">
                                      <a role="button" data-toggle="modal" data-target="#create-board-modal">Create New List</a>
                                 </div>
                            </div>
                      </div>

                    </div>
                </div>
            </div>
           <div id="middle-div" class="col-xs-12 col-sm-12 col-md-6  col-lg-4"  style = "display: none;">
                <div class="row">
                   <div class="col-xs-12">
                       <button id="list-title" class="btn btn-success" data-toggle="collapse" data-target="#card-list-div" ></button>
                   </div>

               </div>

                <div  class="row" style="margin-top: 5px;">
                    <div id="card-list-div" class="well" style="padding-top: 5px;">
                        <a  id="new-list-button"  role="button"  data-toggle="modal" data-target="#create-list-modal"> Add Card</a>
                         <div id="list-div" >

                        </div>
                    </div>
                </div>
           </div>
           <div id="right-div" class="col-xs-12 col-sm-12 col-md-12  col-lg-4"  >
               <div class="row">
                   <div class="col-xs-12">
                       <button id="task-title" class="btn btn-success" data-toggle="collapse" data-target="#card-list-div" ></button>
                   </div>

               </div>
               <div class="row" style=" float: right">
                  <div id="" class="well" style="background-color:white; width: 570px;">
                      <div class="row">
                          <div id="task-list-div" class="col-xs-12" style="width: 100%;">
                              <a role="button" id="new-task-button" data-target="#create-task-modal" data-toggle="modal" >Add New Task</a>
                              <input type="hidden" value="" id="task-board-id" >
                              <div id="task-div"  >

                              </div>

                          </div>
                      </div>

                  </div>

               </div>

           </div>
       </div>
    </div>

       {{> modals}}

 <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
   <script src="/js/template.js"></script>
  <script src="/js/index.js"></script>
    <script>

    </script>
</body>
</html>