body {
    background-image: url("./../images/banner-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#left-div, #middle-div{
    width: 25%;
}

#right-div {
    width: 50%;
}

#title{
    font-family: "Adobe Caslon Pro Bold";
    color: white;
}
#board-list-button {
    width: 50%;
}
#board-list-div {
    background-color: azure;
    width:100%;
    margin-top: 5px;

}

#list-div {
    padding-top: 10px;
}




